@font-face {
    font-family: 'Google Sans';
    src: url('../assets/font/GoogleSans-Regular.woff2') format('woff2'), url('../assets/font/GoogleSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Google Sans';
    src: url('../assets/font/GoogleSans-MediumItalic.woff2') format('woff2'), url('../assets/font/GoogleSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Google Sans';
    src: url('../assets/font/GoogleSans-Bold.woff2') format('woff2'), url('../assets/font/GoogleSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Google Sans';
    src: url('../assets/font/GoogleSans-BoldItalic.woff2') format('woff2'), url('../assets/font/GoogleSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Google Sans';
    src: url('../assets/font/GoogleSans-Medium.woff2') format('woff2'), url('../assets/font/GoogleSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Google Sans';
    src: url('../assets/font/GoogleSans-Italic.woff2') format('woff2'), url('../assets/font/GoogleSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/font/material_icons.woff2') format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

*,
body,
html,
a,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
d,
strong,
lable,
li {
    font-family: 'Google Sans';
    //letter-spacing: .05rem;
}

$theme-color: #0dbaff;
$bg-color: #f9f9f9;
$white: #fff;
$gray:#a2a2a2;
$fb_color:#3a48b1;
$green_color:#54cb1f;
$red_color:#f83232;
$theme-gradient:linear-gradient(135deg, rgba(33, 118, 198, 1) 0%, rgba(13, 186, 255, 1) 100%);

.bg-theme {
    background: $theme-color;
}

.text-theme {
    color: $theme-color;
}

.bg-color {
    background: $bg-color;
}

.theme_gradient_text {
    background: $theme-gradient !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button {
    &.btn {
        font-size: 1.76rem;
        font-weight: 400;
        text-transform: uppercase;
        height: 55px;
        box-shadow: none;
        background: $theme-gradient;
        text-transform: none;
        letter-spacing: 0.5px;


        &:hover:not(.disable-hover) {
            background: $theme-gradient;
        }

        .button-inner {
            //letter-spacing: 2px;
        }

        &[block] {
            border-radius: 10px;
        }

    }
}

.d-flex {
    display: flex !important;
    align-items: center;
    width: 100%;

    .end {
        margin-left: auto;
        margin-right: 0;
        display: block;
    }
}

.center_img {
    position: relative;
    overflow: hidden;

    img {
        &.crop_img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            left: -50% !important;
            right: -50% !important;
            margin: auto;
        }

    }
}

.header {
    background-color: $white;

    &::after {
        display: none;
    }

    &.bg-transparent {
        background: transparent !important;

        .toolbar-background {
            background: transparent !important;
        }
    }

    .toolbar {
        .toolbar-background {
            background-color: $white;
            border: none !important;
        }

        .back-button {
            z-index: 999;
            margin: 0;
            padding: 0;
            min-width: unset;
            padding-left: 9px;
            //
            //            .ion-md-arrow-back:before {
            //                content: "\f3cf";
            //            }

            .button-inner {
                .back-button-icon {
                    padding-left: 9px;
                    font-size: 2.4rem;
                    color: darken($gray, 100%);

                    .back-button-text {
                        display: none !important;
                    }
                }

                .back-button-text {
                    display: none !important;
                }
            }
        }

        .title {
            .toolbar-title {
                font-size: 2.2rem !important;
                font-weight: 500;
                color: darken($white, 100%);
                display: flex;
                align-items: center;
                text-transform: none;
                letter-spacing: .5px;
            }

            .end {
                margin-left: auto !important;

                img {
                    width: 22px;
                    margin: 0 10px;
                }
            }
        }

        &.toolbar-ios {
            ion-title {
                padding: 0 16px;
                position: unset;

                .toolbar-title-ios {
                    text-align: justify;
                }
            }

            .back-button {
                .button-inner {
                    .back-button-icon-ios {}

                    .back-button-text {
                        display: none !important;
                    }
                }
            }

        }
    }

    &.header_bg {
        background-color: none;

        .toolbar-background {
            background: transparent !important;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            height: 116px;
            display: block !important;
            background: $theme-gradient !important;
            z-index: -1;
            border-radius: 0 0 10px 10px;
            width: 100%;
        }
    }
}

.form {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;

    .list {
        background: $white;
        overflow: hidden;
        margin: 0;
    }


    .item {
        padding: 7px 14px 7px 14px;
        border-radius: 0px;
        border: none !important;
        box-shadow: none !important;
        background: $white;
        align-items: center;
        border-top: 1px solid lighten($gray, 30%) !important;

        .icon_box {
            margin: 0 !important;
            margin-right: 16px !important;
            position: relative;
            top: 2px;

            img {
                width: 23px;
            }
        }

        .item-inner {
            border: none !important;
            box-shadow: none !important;
            margin-left: 0 !important;
            padding: 0;

            .label {
                font-size: 1.9rem;
                color: lighten($gray, 0%);
                text-transform: none;
                opacity: 1 !important;
                margin: 0px;
            }

            ion-textarea,
            ion-input {
                font-size: 1.9rem;
                font-weight: 500;
                margin-top: 0px;
                color: darken($theme-color, 100%);

                .text-input {
                    margin: 0;
                    letter-spacing: .5px;
                }

                ::-webkit-input-placeholder {
                    color: lighten($gray, 20%);
                    font-size: 2rem;
                    font-weight: 500;
                    letter-spacing: .5px;
                }

                ::-moz-placeholder {
                    color: lighten($gray, 20%);
                    font-size: 2rem;
                    font-weight: 500;
                    letter-spacing: .5px;
                }

                :-ms-input-placeholder {
                    color: lighten($gray, 20%);
                    font-size: 2rem;
                    font-weight: 500;
                    letter-spacing: .5px;
                }

                :-moz-placeholder {
                    color: lighten($gray, 20%);
                    font-size: 2rem;
                    font-weight: 500;
                    letter-spacing: .5px;
                }
            }
        }

        &.item-input-has-focus {
            .label {
                color: $gray;
            }
        }

        img {
            &[item-start] {
                margin: 0;
                width: 20px;
                margin: 0 15px;
            }

        }

        h3 {
            margin: 0 !important;
            height: 43px;
            font-weight: 500;
            font-size: 1.3rem;
            position: relative;
            top: -3px;
            letter-spacing: .5px;
            color: $theme-color;
            line-height: 54px;
        }

        &:first-child {
            border-top: none !important;
        }

    }

    .row {
        margin: 0 -7px;

        .col {
            padding: 0 7px;
        }
    }
}

ion-tabs {
    .tabbar {
        background: darken($white, 0%) !important;
        box-shadow: 0 -1px 35px 10px rgba(0, 0, 0, 0.2);

        .tab-button {
            background-repeat: no-repeat !important;
            text-align: center !important;
            background-position: center !important;
            background-position-y: 10px !important;
            background-size: 20px !important;
            border: none !important;
            opacity: 1 !important;
            position: relative;

            .tab-button-text {
                margin-top: 26px;
                font-size: 1.1rem;
                font-weight: 500;
                color: darken($theme-color, 100%);

            }

            &:nth-child(1) {
                background: url(../assets/imgs/ic_home.png);
            }

            &:nth-child(4) {
                background: url(../assets/imgs/ic_mall.png);
            }

            /*&:nth-child(3) {
                background: url(../assets/imgs/ic_scane.png);
            }

            &:nth-child(4) {
                background: url(../assets/imgs/ic_orders.png);
            }*/

            &:nth-child(2) {
                background: url(../assets/imgs/ic_account.png);
            }
            &:nth-child(3) {
                background: url(../assets/imgs/ic_family.png);
            }

            &[aria-selected=true] {
                .tab-button-text {

                    color: $theme-color;

                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    width: 35px;
                    height: 3px;
                    border-radius: 50px;
                    display: block;
                    margin: 0 auto;
                    background: $theme-color;

                }
            }
        }
    }

    &.tabs-ios {
        .tabbar {
            .tab-button {
                min-height: 5.6rem;

                .tab-button-text {
                    margin-top: 25px;
                }
            }
        }
    }
}

[dir="rtl"] body {
    .header {
        .toolbar {
            .title {
                .toolbar-title {
                    .end {
                        margin-left: 0 !important;
                        margin-right: auto !important;
                    }
                }
            }

            .back-button {
                padding-left: 0px;
                padding-right: 9px;
            }
        }
    }

    .d-flex {
        .end {
            margin-left: 0;
            margin-right: auto;
        }
    }

    .form {
        ion-label {
            transform-origin: right top !important;
            margin-right: 0;
        }

        .item .item-inner ion-textarea .text-input,
        .item .item-inner ion-input .text-input {
            text-align: right;
        }

        .item .icon_box {
            margin-right: 0px !important;
            margin-left: 16px !important;
        }

    }

    page-home .list .card ion-scroll .item {
        &:first-child {
            margin-right: 10px;
            margin-left: 3px;
        }

        &:last-child {
            margin-left: 10px;
            margin-right: 3px;
        }
    }

    page-search {
        .header .searchbar .searchbar-input-container .searchbar-input {
            text-align: right;
        }

        .quick_links ion-scroll .links {
            &:first-child {
                margin-right: 20px;
                margin-left: 0px;
            }

            &:last-child {
                margin-left: 20px;
                margin-right: 0px;
            }
        }

        .list .card ion-scroll .item {
            &:first-child {
                margin-right: 10px;
                margin-left: 3px;
            }

            &:last-child {
                margin-left: 10px;
                margin-right: 3px;
            }
        }
    }

    page-account {
        .header .profile_box .profile_img {
            margin-right: 0px;
            margin-left: 17px;
        }

        .list .item .icon_box {
            margin-right: 0px !important;
            margin-left: 20px !important;
        }
    }

    page-favorited .row .col .item-box ion-icon.favorite_icon {
        right: unset;
        left: 12px;
    }

    page-item_lists {
        .header {
            .toolbar .title .toolbar-title .icon_box {
                margin-left: -10px !important;
            }

            ion-scroll .segment .segment-button {
                &:first-child {
                    margin-left: 15px;
                    margin-right: 28px;
                }

                &:last-child {
                    margin-right: 15px;
                    margin-left: 28px;
                }
            }
        }
    }

    page-categories {
        .header {
            .toolbar .title .toolbar-title .icon_box {
                margin-left: -10px !important;
            }

            ion-scroll .segment .segment-button {
                &:first-child {
                    margin-left: 10px;
                    margin-right: 20px;
                }

                &:last-child {
                    margin-right: 10px;
                    margin-left: 20px;
                }
            }
        }

        .list .item .categories_img {
            margin-right: 0 !important;
            margin-left: 17px !important;
        }
    }

    page-my_orders {
        .header {
            .toolbar .title .toolbar-title .icon_box {
                margin-left: -10px !important;
            }

            ion-scroll .segment .segment-button {
                &:first-child {
                    margin-left: 15px;
                    margin-right: 28px;
                }

                &:last-child {
                    margin-right: 15px;
                    margin-left: 28px;
                }
            }
        }

        .list .item .item-inner .label .order_details .order_img {
            margin-right: 0 !important;
            margin-left: 17px !important;
        }
    }

    page-transaction .list .item .img_box {
        margin-right: 0px !important;
        margin-left: 14px !important;
    }

    page-item_info {
        .banner .slides .swiper-container-horizontal > .swiper-pagination-bullets {
            text-align: left;
        }

        .form .list .item {
            padding: 14px 28px 14px 19px;

            .label h4 span.end ion-icon:last-child {
                margin-right: 9px;
                margin-left: 0px;
            }
        }

        .footer {
            padding: 3px 27px 3px 5px;
        }
    }

    page-book_ticket {
        .tab_container .form .list .item ion-icon[item-start] {
            margin-right: 0px;
            margin-left: 7px;
        }
    }

    page-mall {
        .header .search_box .searchbar .searchbar-input {
            text-align: right;
        }

        .list.deals ion-scroll .item_box {
            &:first-child {
                margin-left: 1px;
                margin-right: 10px;
            }

            &:last-child {
                margin-right: 1px;
                margin-left: 10px;
            }
        }
    }
}
